@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    /*FONTES*/
    --montserrat: 'Montserrat';
    --montserrat-bold: '600';
    --montserrat-tiny: '200';

    /* CORES */
    --color-white: #fff;
    --color-black: #333;
    --color-deep: #193498;
    --color-shallow: #113CFC;
    --color-teal: #1597E5;
    --color-cold: #69DADB;
    --color-border: #ccc;

    /*CORES --- CONTROL*/
    --color-button: #787878;
    --color-table-data: #ddd;
    --color-table-data-2: #b6b5b5;
    --color-add: #21bd21;
    --color-delete: #df1616; 
    --color-disable: #f5b835;

    /*ESPAÇAMENTOS*/
    --space-default: 1rem;
    --height-header: 3rem;

    /*BORDAS*/
    --btn-radius: 5px;
}